# Sistema operativo
.DS_Store
Thumbs.db

# Editores / IDEs
.vscode/
.idea/

# Variables de entorno y secretos
.env
.env.local
*.key
*.pem

# Logs
*.log

# Carpetas de build/output genéricas
dist/
build/